Repository kodmigor/kmg-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -c, eslint --ext .js,.jsx,.ts,.tsx, stylelint

refactor(yarn.lock): добавлен пакет
  yarn.lock
Due: prettier -c

chore(.lintstagedrc.yml): правки
  .lintstagedrc.yml
Due: prettier -c

chore(package.json): добавлены команды для prettier
  package.json
Due: prettier -c, eslint --ext .js,.jsx,.ts,.tsx

chore(package.json): правки аргументов команд линтовки
  package.json
Due: prettier -c, eslint --ext .js,.jsx,.ts,.tsx

chore(lint.scss): добавлен файл для тестирования линтовки scss
  src/lint.scss
Due: prettier -c, stylelint

chore(lint.js): добавлен файл для тестирования линтовки js
  src/lint.js
Due: prettier -c, eslint --ext .js,.jsx,.ts,.tsx

test 1
  test.ts
Due: prettier -c, eslint --ext .js,.jsx,.ts,.tsx

test 2
  .editorconfig
  .eslintrc.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierrc.yml
  .stylelintignore
  .stylelintrc.yml
  README.md
  package.json
  src/lint.js
  src/lint.scss
  test.ts
  yarn.lock
Due: prettier -c, eslint --ext .js,.jsx,.ts,.tsx, stylelint

test 3
  .editorconfig
  .eslintrc.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierrc.yml
  .stylelintignore
  .stylelintrc.yml
  README.md
  package.json
  src/lint.js
  src/lint.scss
  test.ts
  yarn.lock
Due: prettier -c, eslint --ext .js,.jsx,.ts,.tsx, stylelint

init vite app
  .eslintrc.cjs
  .gitignore
  README.md
  config/vite/vite.config.ts
  package-lock.json
  package.json
  src/app/assets/react.svg
  src/app/assets/vite.svg
  src/app/index/index.html
  src/app/index/index.scss
  src/app/index/index.tsx
  src/app/ui/App.scss
  src/app/ui/App.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: prettier -c, eslint --ext .js,.jsx,.ts,.tsx, stylelint

Path conditions:
  prettier -c: any of: *
  eslint --ext .js,.jsx,.ts,.tsx: any of: *.{js,jsx,ts,tsx,json}
  stylelint: any of: *.{css,scss}
